@import "tailwindcss";

@theme {
  --color-tertiary-dim: #6e4800;
  --color-surface-bright: #f6f6f6;
  --color-surface: #f6f6f6;
  --color-inverse-primary: #fe5f00;
  --color-secondary-fixed-dim: #aec3f9;
  --color-on-error: #ffefee;
  --color-error-container: #fb5151;
  --color-surface-tint: #a13a00;
  --color-surface-container-lowest: #ffffff;
  --color-secondary-container: #c0d1ff;
  --color-error-dim: #9f0519;
  --color-on-tertiary-container: #523500;
  --color-on-tertiary: #fff0e1;
  --color-secondary-dim: #3a4f7d;
  --color-primary: #a13a00;
  --color-on-primary: #ffefea;
  --color-on-tertiary-fixed-variant: #5d3d00;
  --color-on-secondary-fixed: #1d3360;
  --color-on-secondary-container: #314675;
  --color-on-primary-fixed: #000000;
  --color-on-error-container: #570008;
  --color-error: #b31b25;
  --color-outline-variant: #acadad;
  --color-primary-fixed-dim: #fe5f00;
  --color-tertiary-container: #fdaf24;
  --color-on-primary-container: #431300;
  --color-on-secondary-fixed-variant: #3b507e;
  --color-on-surface-variant: #5a5c5c;
  --color-primary-dim: #8d3200;
  --color-secondary: #465b8a;
  --color-surface-container-highest: #dbdddd;
  --color-secondary-fixed: #c0d1ff;
  --color-inverse-on-surface: #9c9d9d;
  --color-tertiary-fixed-dim: #eda111;
  --color-surface-dim: #d3d5d5;
  --color-on-secondary: #f0f2ff;
  --color-inverse-surface: #0c0f0f;
  --color-surface-container-high: #e1e3e3;
  --color-tertiary: #7d5300;
  --color-on-background: #2d2f2f;
  --color-on-surface: #2d2f2f;
  --color-surface-container: #e7e8e8;
  --color-surface-variant: #dbdddd;
  --color-background: #f6f6f6;
  --color-tertiary-fixed: #fdaf24;
  --color-surface-container-low: #f0f1f1;
  --color-on-primary-fixed-variant: #521a00;
  --color-primary-fixed: #ff793d;
  --color-primary-container: #ff793d;
  --color-on-tertiary-fixed: #362100;
  --color-outline: #767777;
}